@charset "UTF-8";

* {
    font-family: Arial, Henvetica, sans-serif;
}
body{
background-image: linear-gradient(to right, #F1D8C9, #F2C3A7);

}
main
{
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px 5px 15px crimson;
    width: 600;
    padding: 10px;
    margin:auto;
}

h1{
    color: orange;
    text-align: center;
    text-shadow: 1px 1px 0px black;
}

p{
    text-align: justify;

}