@charset "UTF-8";
/*
em HTML é id= em CSS é #
em HTML é class= em CSS é .
*/
body{
    background-color: rgb(rgb(128, 40, 40), green, blue);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color:rgb(rgb(141, 38, 38), green, blue)
}
h1#principal{
    color: brown;
    text-align: center;
    background-color: aqua;
}
h2{
    color: beige;
}
.basico{
    color: green;
}
.intermediario{
    color: red;
}
.avançado{
    color: green;
}
.destaque{
    background-color: brown;
}